efinanceira-core/src/main/resources/wsdl/WsRecepcao.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://sped.fazenda.gov.br/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://sped.fazenda.gov.br/"
	xmlns:xsd="http://www.eFinanceira.gov.br/schemas/evtAberturaeFinanceira/v1_0_1"
	xmlns:xsd1="http://www.eFinanceira.gov.br/schemas/retornoLoteEventos/v1_0_1"
	xmlns:xsd2="http://www.eFinanceira.gov.br/schemas/envioLoteEventos/v1_0_1"
	xmlns:xsd3="http://www.eFinanceira.gov.br/schemas/retornoEvento/v1_0_1" 
	xmlns:xsd4="http://www.eFinanceira.gov.br/schemas/evtMovOpFin/v1_0_1"
	xmlns:xsd5="http://www.eFinanceira.gov.br/schemas/evtCadDeclarante/v1_0_1"
	xmlns:xsd6="http://www.eFinanceira.gov.br/schemas/evtFechamentoeFinanceira/v1_0_1">
	<wsdl:import namespace="http://www.eFinanceira.gov.br/schemas/evtAberturaeFinanceira/v1_0_1" location="../xsd/evtAberturaeFinanceira-v1_0_1.xsd"></wsdl:import>
	<wsdl:import namespace="http://www.eFinanceira.gov.br/schemas/retornoLoteEventos/v1_0_1" location="../xsd/retornoLoteEventos-v1_0_1.xsd"></wsdl:import>
	<wsdl:import namespace="http://www.eFinanceira.gov.br/schemas/envioLoteEventos/v1_0_1" location="../xsd/envioLoteEventos-v1_0_1.xsd"></wsdl:import>
	<wsdl:import namespace="http://www.eFinanceira.gov.br/schemas/retornoEvento/v1_0_1" location="../xsd/retornoEvento-v1_0_1.xsd"></wsdl:import>
	<wsdl:import namespace="http://www.eFinanceira.gov.br/schemas/evtMovOpFin/v1_0_1" location="../xsd/evtMovOpFin-v1_0_1.xsd"></wsdl:import>
	<wsdl:import namespace="http://www.eFinanceira.gov.br/schemas/evtCadDeclarante/v1_0_1" location="../xsd/evtCadDeclarante-v1_0_1.xsd"></wsdl:import>
	<wsdl:import namespace="http://www.eFinanceira.gov.br/schemas/evtFechamentoeFinanceira/v1_0_1" location="../xsd/evtFechamentoeFinanceira-v1_0_1.xsd"></wsdl:import>
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://sped.fazenda.gov.br/">
			<s:element name="loteEventos">
				<s:complexType mixed="true">
					<s:sequence>
						<s:any />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ReceberLoteEventoResult">
				<s:complexType mixed="true">
					<s:sequence>
						<s:any />
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="ReceberLoteEventoSoapIn">
		<wsdl:part name="loteEventos" element="tns:loteEventos" />
	</wsdl:message>
	<wsdl:message name="ReceberLoteEventoSoapOut">
		<wsdl:part name="ReceberLoteEventoResult" element="tns:ReceberLoteEventoResult" />
	</wsdl:message>
	<wsdl:portType name="WsRecepcaoSoap">
		<wsdl:operation name="ReceberLoteEvento">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
				Servico para
				recepcao de um lote de eventos da e-Financeira.
			</wsdl:documentation>
			<wsdl:input message="tns:ReceberLoteEventoSoapIn" />
			<wsdl:output message="tns:ReceberLoteEventoSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="WsRecepcaoSoap" type="tns:WsRecepcaoSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ReceberLoteEvento">
			<soap:operation soapAction="http://sped.fazenda.gov.br/ReceberLoteEvento"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="WsRecepcaoSoap12" type="tns:WsRecepcaoSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ReceberLoteEvento">
			<soap12:operation soapAction="http://sped.fazenda.gov.br/ReceberLoteEvento"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="WsRecepcao">
		<wsdl:port name="WsRecepcaoSoap" binding="tns:WsRecepcaoSoap">
			<soap:address
				location="https://efinanc.receita.fazenda.gov.br/WsEFinanceira/WsRecepcao.asmx" />
		</wsdl:port>
		<wsdl:port name="WsRecepcaoSoap12" binding="tns:WsRecepcaoSoap12">
			<soap12:address
				location="https://efinanc.receita.fazenda.gov.br/WsEFinanceira/WsRecepcao.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>